@charset "UTF-8";
.scene{
	margin-top:20px;
	margin-bottom:70px;
}
.scene-show {
	float:left;
  position: relative;
  overflow: hidden;
  width: 715px;
  height: 715px;
  z-index:2;
}
.scene-show .list {
  overflow: hidden;
  position: relative;
  height: 715px;
  z-index: 1;
}
.scene-show .list li {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
	z-index:1;
}
.handler-prev,
.handler-next{
	position:absolute;
	top:308px;
	width:50px;
	height:100px;
	cursor:pointer;
	z-index:2;
}
.handler-prev:hover,
.handler-next:hover{
	opacity:0.8;
}
.handler-prev{
	left:15px;
	background:url(../images/index/switch-prev.png);
}
.handler-next{
	right:15px;
	background:url(../images/index/switch-next.png);
}
.breadcrumb{
	padding:0 20px;
	font-size:16px;
	color:#17171d;
	line-height:55px;
	border-bottom:1px solid #e5e4e4;
	background:#fff;
}
.text-orange{
	color:#fb9f38;
}
.scene .wall{
	overflow:hidden;
	padding:20px;
	background:#fff;
}
.scene .designer{
	overflow:hidden;
	padding-left:30px;
}
.designer .user{
	display:inline-block;
	margin-bottom:19px;
	padding-bottom:19px;
	border-bottom:1px solid #e5e4e4;
}
.designer .inb{
	display:inline-block;
	margin:0 10px 0 19px;
}
.designer .inb .name{
	display:inline-block;
	overflow:hidden;
	width:60px;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#17171d;
	font-size:16px;
}
.designer .inb .address{
	display:inline-block;
	overflow:hidden;
	width:100px;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#17171d;
	font-size:14px;
}
.designer .inb .icon-addr{
	display:inline-block;
	margin:0 10px 0 0;
	width:13px;
	height:18px;
	background:url(../images/index/icon-address.png);
}
.designer .inb .text-orange{
	font-size:14px;
	line-height:40px;
}
.designer .btn-like{
	display:inline-block;
	padding-left:42px;
	width:155px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#fff;
	background:#17171d url(../images/index/icon-like.png) no-repeat 15px center;
}
.designer .btn-count{
	display:inline-block;
	margin:15px 0 18px;
	padding-left:24px;
	width:128px;
	height:24px;
	line-height:24px;
	font-size:14px;
	color:#999;
	background:#17171d url(../images/scene/bg-count.jpg) no-repeat 0 center;
}
.designer .title{
	font-size:20px;
	color:#17171d;
	font-weight:400;
}
.designer .desc{
	padding-top:12px;
	line-height:24px;
	color:#999;
	font-size:14px;
}
.designer .strong{
	margin-bottom:18px;
	padding-left:8px;
	line-height:30px;
	border-left:4px solid #fb9f38;
	color:#17171d;
	font-size:20px;
}
.designer .image-list {
  overflow: hidden;
  padding-bottom:14px;
}
.designer .image-list ul{
	overflow:hidden;
}
.designer .image-list li {
	overflow:hidden;
  float: left;
  margin-left:18px;
  width: 90px;
  height: 130px;
  color:#999;
  line-height:21px;
  text-align:center;
}
.designer .image-list li:first-child {
	margin-left:0;
}
.designer .image-list .cell {
  overflow: hidden;
  width: 88px;
  height: 88px;
  text-align: center;
  line-height: 88px;
  border:1px solid #ccc;
}
.designer .image-list .cell img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.designer .form textarea{
	padding:2px;
	width:100%;
	max-width:100%;
	height:58px;
	box-sizing:border-box;
	border:1px solid #ccc
}
.designer .form button{
	margin-top:10px;
	width:100px;
	height:40px;
	box-sizing:border-box;
	background:#17171d;
	color:#fff;
	font-size:18px;
}
.review .face{
	float:left;
	margin-top:20px;
	width:40px;
	height:40px;
}
.review .face img{
	border-radius:50%;
}
.review .text{
	overflow:hidden;
	padding:20px 0 10px 10px;
	color:#999;
	font-size:14px;
	border-bottom:1px solid #ccc
}
.review .text .pull-left{
	color:#17171d;
}